@using Microsoft.AspNetCore.Components.Web
@namespace TCH.WebServer.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <link href="css/style.bundle.css" rel="stylesheet" />
    <link href="assets/plugins/global/plugins.bundle.css" rel="stylesheet" />
    <!--begin::Vendor Stylesheets-->
    <link href="_content/Blazored.Modal/blazored-modal.css" rel="stylesheet" />
    <link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />
    <!--end::Vendor Stylesheets-->
    <!--begin::Global Stylesheets-->
    @*    <link href="_content/VMU/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
        <link href="_content/VMU/css/style.bundle.css" rel="stylesheet" type="text/css" />
        <link href="_content/VMU.Components/custom.css" rel="stylesheet" type="text/css" />*@
    <!--end::Global Stylesheets-->
    <component type="typeof(HeadOutlet)" render-mode="Server" />
    <link href="TCH.WebServer.styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">
    @*<link rel="stylesheet" href="_content/Radzen.Blazor/css/default.css">*@
    <style>
        #blazor-error-ui {
            background: lightyellow;
            bottom: 0;
            box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
            display: none;
            left: 0;
            padding: 0.6rem 1.25rem 0.7rem 1.25rem;
            position: fixed;
            width: 100%;
            z-index: 1000;
        }

            #blazor-error-ui .dismiss {
                cursor: pointer;
                position: absolute;
                right: 0.75rem;
                top: 0.5rem;
            }

        #components-reconnect-modal {
            z-index: 9999 !important;
        }

        .blazored-toast-container {
            z-index: 999 !important;
        }

        .blazored-toast-header {
            display: none !important;
        }

        /**Aside Menu*/
        .aside-menu.flex-column-fluid {
            overflow: auto;
            height: 110px;
        }
    </style>
</head>
<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    
    <script src="_content/Blazored.Modal/blazored.modal.js"></script>
    <script src="assets/plugins/global/plugins.bundle.js"></script>
    <script src="assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    <script src="assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="assets/plugins/custom/datatables/datatables.bundle.js"></script>
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script src="assets/js/widgets.bundle.js"></script>
    <script src="assets/js/custom/widgets.js"></script>
    <script src="assets/js/custom/apps/chat/chat.js"></script>
    <script src="assets/js/custom/utilities/modals/users-search.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="_content/Blazored.Modal/blazored.modal.js"></script>
    <script src="js/plugins.bundle.js"></script>
    <script src="js/scrpts.bundle.js"></script>
    <!--begin::Global Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="_content/VMU.Components/custom.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js"></script>
    <!--end::Global Scripts-->
    <script>
        window.main = {
            toggle: function () {
                $('[data-kt-drawer="true"]').toggleClass("drawer drawer-start drawer-on");
                $(".drawer-overlay").removeClass("d-none").addClass("d-block");

                $(".drawer-overlay").on("click", function () {
                    $('[data-kt-drawer="true"]').removeClass("drawer drawer-start drawer-on");
                    $(".drawer-overlay").removeClass("d-block").addClass("d-none");
                });
            },
        };
    </script>
</body>
</html>
