@page "/dashboard"
@inject NavigationManager NavManager

<div class="fluid d-flex">
    <div class="col-12 col-lg-9 d-flex p-4">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-3 ">
               <Product></Product>
            </div>
            <div class="col-12 col-sm-6 col-md-3 ">
               <Product></Product>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
               <Product></Product>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
               <Product></Product>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="flex-grow-1 card">
            <div class="card-header pt-2" style="min-height: 0 !important;">
                <div class="card-title w-100">
                    <h2 class="text-center w-100 text-primary">
                        Đơn Hàng
                    </h2>
                </div>
            </div>
            <!--begin::Table-->
            <div class="card-body rounded" style="padding: 1rem">
                <div class="table-responsive border-bottom mb-9">
                    <table class="table mb-3">
                        <thead>
                            <tr class="border-bottom fs-6 fw-bolder text-muted">
                                <th class="min-w-175px pb-2">Tên</th>
                                <th class="min-w-70px text-end pb-2">Số Lượng</th>
                                <th class="min-w-70px text-end pb-2">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="fw-bolder text-gray-700 fs-5 text-end">
                                <td class="d-flex align-items-center pt-6">
                                    Trà Đào Cam Sả (L)
                                </td>
                                <td class="pt-6">3</td>
                                <td class=" pt-6 ">
                                     <div class="h-auto d-flex">
                                        <button class="btn btn-primary rounded-circle me-2">+</button>
                                        <button class="btn btn-light rounded-circle">-</button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="fw-bolder text-gray-700 fs-5 text-end">
                                <td class="d-flex align-items-center pt-6">
                                    Trà Đào Cam Sả (L)
                                </td>
                                <td class="pt-6">3</td>
                                <td class=" pt-6">
                                    <div class="h-auto d-flex">
                                        <button class="btn btn-primary rounded-circle me-2">+</button>
                                        <button class="btn btn-light rounded-circle">-</button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="fw-bolder text-gray-700 fs-5 text-end">
                                <td class="d-flex align-items-center pt-6">
                                    Trà Đào Cam Sả (L)
                                </td>
                                <td class="pt-6">3</td>
                                <td class=" pt-6">
                                    <div class="h-auto d-flex">
                                        <button class="btn btn-primary rounded-circle me-2">+</button>
                                        <button class="btn btn-light rounded-circle">-</button>
                                    </div>
                                </td>
                            </tr>
                            <tr class="fw-bolder text-gray-700 fs-5 text-end">
                                <td class="d-flex align-items-center pt-6">
                                    Trà Đào Cam Sả (L)
                                </td>
                                <td class="pt-6">3</td>
                                <td class=" pt-6">
                                     <div class="h-auto d-flex">
                                        <button class="btn btn-primary rounded-circle me-2">+</button>
                                        <button class="btn btn-light rounded-circle">-</button>
                                    </div>
                                </td>
                            </tr>
                            @*<tr class="fw-bolder text-gray-700 fs-5 text-end">
                                <td class="d-flex align-items-center">
                                    <i class="fa fa-genderless text-success fs-2 me-2"></i>Logo Design
                                </td>
                                <td>120</td>
                                <td>$40.00</td>
                                <td class="fs-5 text-dark fw-boldest">$4800.00</td>
                            </tr>
                            <tr class="fw-bolder text-gray-700 fs-5 text-end">
                                <td class="d-flex align-items-center">
                                    <i class="fa fa-genderless text-primary fs-2 me-2"></i>Web Development
                                </td>
                                <td>210</td>
                                <td>$60.00</td>
                                <td class="fs-5 text-dark fw-boldest">$12600.00</td>*@
                            @*</tr>*@
                        </tbody>
                    </table>
                    </div>
            </div>
            <div class="d-flex justify-content-center w-100 p-3">
                <button class="btn btn-primary px-2 w-50" onclick="@(() => NavManager.NavigateTo("/payment"))">Thanh toán</button>
            </div>
            <!--end::Table-->
            <!--begin::Container-->
        </div>
    </div>
</div>

@code {
    public void IncreaseCount()
    {
        
    }
}
