@using System.Security.Claims
@using TCH.ViewModel.SubModels
@using TCH.WebServer.Services
@inherits LayoutComponentBase
@inject IUserApiClient userApiClient
@inject NavigationManager NavigationManager
@attribute [Authorize]
<PageTitle>Quản lý The Coffee House</PageTitle>

<Layout>
    if (authState.User.Identity.IsAuthenticated){
        <Aside>
        <AsideBrand Logo="" Class="px-4">
            <span class="text-primary fw-bolder fs-6 lh-base ms-2">The Coffee House</span>
        </AsideBrand>

        <AsideMenu>
            <NavMenu />
        </AsideMenu>

        <AsideFooter FullName=@(user.FirstName + user.LastName) Description="Quản trị viên" Image="assets/media/avatars/300-1.jpg" />
    </Aside>
    }
    <Page Logo="">
        <Mobile>
            <span class="text-primary fw-bolder fs-6 lh-base ms-2">The Coffee House</span>
        </Mobile>
        <Content>
            @Body
        </Content>
    </Page>
</Layout>

<Overlay />
@code{
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }
    private UserVm user = new UserVm();
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;
        if (authState.User.Identity.IsAuthenticated)
        {
            var userId = authState.User.FindFirst(x => x.Type == ClaimTypes.NameIdentifier).Value;
            var result = await userApiClient.GetById(userId);
            if(result.Result == 1)
            {
                user = result.Data;
            }
            else
            {
                NavigationManager.NavigateTo("/login");
            }
        }
    }
}
<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                Timeout="2"
                IconType="IconType.FontAwesome"
                InfoClass="alert alert-dismissible bg-light-primary border border-primary border-dashed text-primary show"
                InfoIcon="far fa-lightbulb text-primary fs-3"
                SuccessClass="alert alert-dismissible bg-light-success border border-success border-dashed text-success show"
                SuccessIcon="far fa-solid fa-bell text-success fs-3"
                WarningClass="alert alert-dismissible bg-light-warning border border-warning border-dashed text-warning show"
                WarningIcon="fas fa-exclamation-triangle text-warning fs-3"
                ErrorClass="alert alert-dismissible bg-light-danger border border-danger border-dashed text-danger show"
                ErrorIcon="fas fa-times text-danger fs-3" />