@using System.Security.Claims
@using TCH.Utilities.Roles
@inject IUserApiClient userApiClient
@inject NavigationManager NavigationManager

@if (Roles.Contains(Permission.Branch))
{
    <NavItem Title="TRANG CHỦ" Link="/admin-dashboard">
        <i class="las la-igloo"></i>
    </NavItem>

    <NavItem Title="Quản trị"/>

    <NavItem Title="Tài khoản người dùng" Link="/user">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>

    <NavItem Title="Khách hàng thành viên"/>

    <NavItem Title="Danh sách khách hàng" Link="/customers">
        <i class="las la-user-injured"></i>
    </NavItem>

    <NavItem Title="Danh mục"/>

    <NavItem Title="Danh sách sản phẩm" Link="/products">
        <i class="las la-highlighter"></i>
    </NavItem>

    <NavItem Title="Danh sách loại sản phẩm" Link="/categories">
        <i class="las la-tags"></i>
    </NavItem>

    <NavItem Title="Danh sách loại nguyên liệu" Link="/materials">
        <i class="las la-cannabis"></i>
    </NavItem>

    <NavItem Title="Khuyến mãi"/>

    <NavItem Title="Danh sách đợt khuyến mãi" Link="/promotions">
        <i class="las la-gift"></i>
    </NavItem>

    <NavItem Title="Quản lý chi nhánh"/>

    <NavItem Title="Các chi nhánh" Link="/branchs">
        <i class="las la-home"></i>
    </NavItem>

    <NavItem Title="Quản lý tiêu thụ"/>

    <NavItem Title="Lượng nguyên liệu tiêu thụ" Link="/mass-in-day">
        <i class="las la-calendar-alt"></i>
    </NavItem>
    <NavItem Title="Thống kê tiêu thụ theo sản phẩm" Link="/quantity-product-report">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>

    <NavItem Title="Thống kê nguyên liệu hết hạn" Link="/expiried">
        <i class="las la-calendar-alt"></i>
    </NavItem>

    <NavItem Title="Quản lý thu chi"/>

    <NavItem Title="Danh sách đơn hàng" Link="/orders">
        <i class="lab la-jedi-order"></i>
    </NavItem>
    <NavItem Title="Danh sách phiếu xuất" Link="/reports-export">
        <i class="lar la-caret-square-left"></i>
    </NavItem>
    <NavItem Title="Danh sách phiếu nhập" Link="/reports-import">
        <i class="las la-caret-square-right"></i>
    </NavItem>
    <NavItem Title="Danh sách phiếu thanh lý" Link="/reports-liquid">
        <i class="las la-expand-arrows-alt"></i>
    </NavItem>

    <NavItem Title="Danh sách hoá đơn bán hàng của tài khoản" Link="/order-in-user">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect x="2" y="2" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"/>
            </svg>
        </span>
    </NavItem>
}
else if (Roles.Contains(Permission.Manage))
{
    <NavItem Title="TRANG CHỦ" Link="/dashboard">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect x="2" y="2" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"/>
            </svg>
        </span>
    </NavItem>

    <NavItem Title="Quản trị"/>

    <NavItem Title="Tài khoản người dùng trong chi nhánh" Link="/user-branch">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>

    <NavItem Title="Khách hàng thành viên"/>

    <NavItem Title="Danh sách khách hàng" Link="/customers">
        <i class="las la-user-injured"></i>
    </NavItem>

    <NavItem Title="Bán hàng"/>

    <NavItem Title="POS" Link="/dashboard">
        <i class="las la-yin-yang"></i>
    </NavItem>

    <NavItem Title="Quản lý kho"/>

    <NavItem Title="Nguyên liệu trong cửa hàng" Link="/stock-in-branch">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>

    <NavItem Title="Thống kê nguyên liệu hết hạn" Link="/expiried-branch">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>


    <NavItem Title="Thêm phiếu nhập" Link="/add-report-import">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>

    <NavItem Title="Thêm phiếu xuất" Link="/add-report-export">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>

    <NavItem Title="Thêm phiếu thanh lý" Link="/add-report-liquid">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>

    <NavItem Title="Quản lý tiêu thụ"/>

    <NavItem Title="Lượng nguyên liệu tiêu thụ" Link="/mass-in-day-in-branch">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>

    <NavItem Title="Thống kê tiêu thụ theo sản phẩm" Link="/quantity-product-report-branch">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>

    <NavItem Title="Quản lý doanh thu"/>

    <NavItem Title="danh sách đơn hàng" Link="/orders-branch">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>
    <NavItem Title="danh sách phiếu xuất" Link="/reports-export-branch">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>
    <NavItem Title="danh sách phiếu nhập" Link="/reports-import-branch">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>
    <NavItem Title="danh sách phiếu thanh lý" Link="/reports-liquid-branch">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>

    <NavItem Title="Danh sách hoá đơn bán hàng của tài khoản" Link="/order-in-user">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect x="2" y="2" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"/>
            </svg>
        </span>
    </NavItem>
}
else if (Roles.Contains(Permission.Staff))
{
    <NavItem Title="TRANG CHỦ" Link="/dashboard">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect x="2" y="2" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"/>
            </svg>
        </span>
    </NavItem>

    <NavItem Title="Khách hàng thành viên"/>

    <NavItem Title="Danh sách khách hàng" Link="/customers">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-check" viewBox="0 0 16 16">
                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                <path fill-rule="evenodd" d="M15.854 5.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L12.5 7.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        </span>
    </NavItem>
    <NavItem Title="Danh sách hoá đơn bán hàng của tài khoản" Link="/order-in-user">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect x="2" y="2" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"/>
            </svg>
        </span>
    </NavItem>
}
else if (Roles.Contains(Permission.Customer))
{
    <NavItem Title="TRANG CHỦ" Link="/customer-detail">
        <span class="svg-icon svg-icon-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect x="2" y="2" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"/>
                <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"/>
            </svg>
        </span>
    </NavItem>
}


@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    private AppUser user = new();
    public List<string> Roles { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Roles = new();
        var authState = await AuthenticationState;
        if (authState.User.Identity!.IsAuthenticated)
        {
            Roles = authState.User.FindAll(x => x.Type == ClaimTypes.Role).Select(x => x.Value).ToList();
        }
    }

}