@using TCH.Data.Entities
@using TCH.WebServer.Models
@inject NavigationManager NavManager
@attribute [Authorize]

<div class="card card-flush mb-2 cursor-pointer" onclick="@(() => NavManager.NavigateTo("/product-detail"))" style="height:auto !important; padding: 1rem">
    <div class="card-header" style="padding: 0 0 !important; min-height: 0!important;">
        <div class="card-title" style="white-space: nowrap; overflow: hidden !important; text-overflow: ellipsis;">
            <h5 class = "fw-bold" >
                @product.Name
            </h5>
        </div>
    </div>
    <div class="card-body d-flex" style="padding: 1rem 0 !important">
        <div class = "" style="width: 100%">
            <img src="@product.LinkImage" style="width: 100%; height:auto"/>
        </div>
        
    </div>
</div>

@code {
    [Parameter] public Product product { get; set; }
}
