@using TCH.WebServer.Services
@inject IAuthService authServices

<div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div class=""> 
                <img width="200"  src="https://thecoffeehouse.com.vn/wp-content/uploads/2022/01/logo-footer1-1.png" class="header_logo header-logo text-center mb-3" alt="THE COFFEE HOUSE">
                <div class="nav_list"> 
                    <a href="#" class="nav_link active"> 
                        <i class='bx bx-grid-alt nav_icon'></i> 
                        <span class="nav_name">Dashboard</span> 
                    </a> 
                    <a href="#" class="nav_link"> 
                        <i class='bx bx-user nav_icon'></i> 
                        <span class="nav_name">Nhân sự</span> 
                    </a> 
                    <a href="#" class="nav_link"> 
                        <i class='bx bx-message-square-detail nav_icon'></i> 
                        <span class="nav_name">Sản phẩm</span> 
                    </a> 
                    <a href="#" class="nav_link"> 
                        <i class='bx bx-bookmark nav_icon'></i> 
                        <span class="nav_name">Sự kiện</span> 
                    </a> 
                    <a href="#" class="nav_link"> 
                        <i class='bx bx-folder nav_icon'></i> 
                        <span class="nav_name">Kho</span> 
                    </a> 
                    <a href="#" class="nav_link"> 
                        <i class='bx bx-bar-chart-alt-2 nav_icon'></i> 
                        <span class="nav_name">Cơ sở vật chất</span> 
                    </a> 
                </div>
            </div> 
            <a onclick="@(() => Logout())" class="nav_link"> 
                <i class='bx bx-log-out nav_icon'></i> 
                <span class="nav_name">Đăng xuất</span> 
            </a>
        </nav>
    </div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void Logout()
    {
        authServices.Logout();
    }
}