@page "/login"

<div class="d-flex flex-column flex-column-fluid bgi-position-y-bottom position-x-center bgi-no-repeat bgi-size-contain bgi-attachment-fixed" style="min-height: 1000px;background-image: url('/background.jpg'); background-size:contain;background-attachment: fixed;" >
    <div class="w-lg-500px bg-body rounded shadow-sm p-10 p-lg-15 mx-auto my-auto">
    <form class="form w-100 "  id="kt_sign_in_form" action="#">
        <div class="text-center mb-10">
            <h1 class="text-dark mb-3">Sign In to The Coffee House</h1>
            <div class="text-gray-400 fw-bold fs-4">
                New Here?
                <a href="" class="link-primary fw-bolder">Create an Account</a>
            </div>
        </div>
        <div class="fv-row mb-10 fv-plugins-icon-container">
            <label class="form-label fs-6 fw-bolder text-dark">Email</label>
            <input class="form-control form-control-lg form-control-solid" type="text" name="email" autocomplete="off">
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
        <div class="fv-row mb-10 fv-plugins-icon-container">
            <div class="d-flex flex-stack mb-2">
                <label class="form-label fw-bolder text-dark fs-6 mb-0">Password</label>
                <a href="../../demo1/dist/authentication/layouts/basic/password-reset.html" class="link-primary fs-6 fw-bolder">Forgot Password ?</a>
            </div>
            <input class="form-control form-control-lg form-control-solid" type="password" name="password" autocomplete="off">
            <div class="fv-plugins-message-container invalid-feedback"></div>
        </div>
        <div class="text-center">
            <button type="submit" id="kt_sign_in_submit" class="btn btn-lg btn-primary w-100 mb-5">
                <span class="indicator-label">Continue</span>
                <span class="indicator-progress">
                    Please wait...
                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>

        </div>
        <div></div>
    </form>
</div>
</div>

@code {

}
